/* ☢ 🥨 octoloe ☢ */

html,
body {

    /* Gradient: https: //webgradients.com/, Theme-> New York */

    background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);

    #white-space {
        height: 100px;
    }


    .btn-outline-primary {
        background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
    }

}